<div class="ui three column grid">
  <div class="column">
    <h1>Mnemon</h1>

    <p>Mnemon is a tool for better card management and memorization. Cards are grouped by decks. A deck can be built on personal preference or some specific study targets.</p>

    <p>A basic spacing repetition method is adopted as the main algorithm of card memorization in Mnemon. Preset repitition periods are 1 minute, 10 minute, 1 day, 4 days, 10 days, a month and 3 months. In cards review flow, only 2 feedbacks are collected, namely `REMEMBER` and `NOT REMEMBER`, which greatly follows human instinct.</p>
  </div>
  <div class="column">
    <h2>Keyboard Shortcuts</h2>

    <p>There are some preset keyboard shortcuts to facilitate usage. A group of keyboard shortcuts are set for each section. The following presets are arranged in sections.</p>

    <h3>Cards Section</h3>

    <ul>
      <li><strong>'opt + n'</strong>: Create a new card.</li>
      <li><strong>'opt + c'</strong>: Automatically copy explaination to the new card.</li>
      <li><strong>'opt + s'</strong>: Save new card.</li>
    </ul>

    <h3>Review Section</h3>

    <ul>
      <li><strong>'left'</strong>: Navigate to the previous card.</li>
      <li><strong>'right'</strong>: Navigate to the next card.</li>
    </ul>
  </div>

  <div class="column">
    <h2>Plans</h2>
  </div>
</div>
