<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container row">
      <div class="content"></div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
