<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="ui left visible vertical inverted sidebar labeled icon menu">
      <a class="item">
        <i class="medium icon"></i>
        Mnemon
      </a>
      <a class="item" href="/#decks/list">
        Decks
      </a>
      <a class="item" href="/#cards/list">
        Cards
      </a>
      <a class="item">
        Tasks
      </a>
    </div>
    <div class="container">
      <div class="content"></div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
