<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  </head>
  <body>
    <div class="app-sidebar ui left visible vertical inverted sidebar labeled icon menu">
      <a class="item">
        <i class="medium icon"></i>
        Mnemon
      </a>
      <a class="item" href="/#decks/list">
        Decks
      </a>
      <a class="item" href="/#cards/list">
        Cards
      </a>
      <a class="item">
        Tasks
      </a>
      <a class="item">
        Export
      </a>

      <br>
      <br>

      <a class="item" href="/#help">
        Help
      </a>
      <a class="item" href="">
        <i class="small user icon"></i>
        <%= user.name %>
      </a>
    </div>
    <div class="container">
      <div class="content"></div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
