.card {
  position: relative;
  width: 340px;
  min-height: 500px;
  box-shadow: 0 0 5px #ddd;
  border: solid 1px #999;
  border-radius: 10px;
  margin: 30px;
}

.card .section {
  margin: 20px;
}

.card .header {
  font-size: 0.5em;
  color: #666;
  text-align: center;
}

.card input,
.card textarea {
  border: none;
  width: 100%;
}
.card input:focus,
.card textarea:focus {
  outline: none;
}

.card .title {
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
}

.card .sub-title {
  text-align: center;
  font-size: 1.2em;
}

.card .content {
  font-size: 1em;
  text-align: left;
}

.card .operations {
  position: absolute;
  bottom: -85px;
  text-align: center;
  width: 100%;
}

.card .operation {
  cursor: pointer;
}

.word-explain {
  position: absolute;
  display: none;
  right: 0;
  top: 20px;
  width: 210px;
  margin-right: 0px;
  border: solid 1px #999;
  padding: 20px;
  max-height: 400px;
  overflow: scroll;
  border-radius: 0 5px 5px 0;
  color: #999;
  font-size: 0.8em;
}

.word-explain.show {
  display: block;
  margin-right: -210px;
}

.card textarea {
  min-height: 290px;
  resize: none;
}
