<% data.explains.forEach(function (explain) { %>
  <div>
    <h3><%= explain.kana %> <%= explain.tone %></h3>
    <% explain.content.split('\n').forEach(function (line) { %>
      <p><%= line %></p>
    <% }) %>
  </div>
  <br>
<% }) %>
