<!--
<i class="empty star middle aligned icon"></i>
-->
<div class="content">
  <div class="header"><%= data.title %></div>
  <div class="description"><%= data.sub_title %> <span class="word-content"><%= data.explain.length > 20 ? data.explain.slice(0, 20) + '...' : data.explain %></span></div>
</div>
<div class="card-action remove-card" data="<%= data.title %>">
  <i class="remove icon"></i>
</div>
