<div class="ui padded grid">
  <div class="six wide column cards-list">
    <div class="ui category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search for words...">
        <i class="search icon"></i>
      </div>
    </div>

    <hr class="search-delimiter">

    <button class="ui secondary button add-a-word">Add a word</button>

    <div class="ui relaxed divided list search-result">
    </div>
  </div>

  <div class="ten wide column card-preview">
  </div>
</div>
