<!--
<i class="empty star middle aligned icon"></i>
-->
<div class="content">
  <div class="header"><%= data.title %></div>
  <div class="description"><%= data.sub_title %> <span class="word-content"><%= data.content.slice(0, 20) + '...' %></span></div>

  <!--
  <div class="right floated content">
    <i class="remove middle aligned icon remove-card"></i>
  </div>
  -->
</div>
