<div class="ui padded grid">
  <div class="eight wide column cards-list">
    <div class="ui category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="単語を探す...">
        <i class="search icon"></i>
      </div>
    </div>

    <hr class="search-delimiter">

    <div class="ui relaxed divided list search-result">
    </div>
  </div>

  <div class="eight wide column card-preview">
  </div>
</div>
