<div class="ui stackable padded grid">
  <div class="six wide column cards-list">
    <div class="search-and-add">
      <div class="ui category search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search for words...">
          <i class="search icon"></i>
        </div>
      </div>

      <hr class="search-delimiter">

      <button class="ui secondary button add-a-card">Add a card</button>
    </div>

    <div class="ui relaxed divided list search-result">
    </div>
  </div>

  <div class="computer only ten wide column card-preview">
  </div>
</div>
