<div class="ui stackable padded grid">
  <div class="six wide column decks-list">
    <div class="ui category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search for deck...">
        <i class="search icon"></i>
      </div>
    </div>

    <hr class="search-delimiter">

    <div class="add-a-deck">
      <button class="ui secondary button toggle-add-a-deck">Add a deck</button>

      <div class="ui form hide">
        <div class="field">
          <input name="name" type="text" placeholder="Name of the deck.">
        </div>
        <div class="field">
          <input name="description" type="text" placeholder="Brief desription of the deck.">
        </div>
        <button class="ui button submit" type="submit">Submit</button>
      </div>
    </div>

    <div class="ui relaxed divided list search-result">
    </div>
  </div>

  <div class="ten wide column deck-preview">
  </div>
</div>
