<i class="empty star middle aligned icon"></i>
<div class="content">
  <div class="header"><%= data.name %></div>
  <div class="description">(<%= data.number_of_cards %>) <%= data.description %></div>
</div>
