<div class="right floated content review">
  <i class="empty star middle aligned icon"></i>
  <i class="food middle aligned icon"></i>
</div>
<div class="content">
  <div class="header"><%= data.name %></div>
  <div class="description">(<%= data.number_of_cards %>) <%= data.description %></div>
</div>
